body {
    font: 11px/normal sans-serif;
}

a { color: #000; }

.clearfix {
    clear: both;
}

#page {
    margin: 0 auto;
    width: 600px;
}

#container {
    margin: 10px auto;
    width: 400px;
}

.flipclock .section {
    display: inline-block;
    text-align: center;
}

#usage {
    padding: 0;
}
#usage li {
    position: relative;
    margin: 5px 0;
    padding: 10px;
    color: #222;
    background: #eee;
    list-style: none;
}

#usage code {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: #eee;
    border: 1px solid #333;
    background: #000;
}
